/*Created by IntelliJ IDEA.
User: Tom
Date: 06.11.2015
Time: 23:39
*/

body{
    font-family: Arial;
}

nav{
    border: 0 !important;
}

#navbar {
    background-color: #7FC7AF;
}

div.welcomepage#btns {
    text-align: center;
    margin-top: 20px;
}