/*Created by IntelliJ IDEA.
User: Tom
Date: 06.11.2015
Time: 23:39
*/
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
/* Bootstrap theme */
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css);

body{
    font-family: Arial;
}

nav{
    border: 0 !important;
}

#navbar {
    background-color: #7FC7AF;
}

div.welcome#btnpanel {
    text-align: center;
    margin-top: 20px;
}

button.btn.btn-lg.btn-primary {
    background: #7FC7AF;
    border-color: #7FC7AF;
}

#login_form {
    width:30%;
}

#register_form {
    width: 75%;
}