/*welcomepage
about justparty */
#about {
  margin:20px 0 15px;
  /*text-align: center;*/
  width: 100%;
}

#about a {
  text-decoration: none;
}

#about-div {
  padding-bottom: 40px;
}

#login_form {
  width:30%;
}
#createEvent_form {
  width:30%;
}